---

---

<div>
  <div>
    <h1 class="xl:text-5">The Place To Share</h1>
    <h1>Your Experiences</h1>
  </div>

  <h3>
    The Skinny Platform is the place for entrepreneurs with something to share
    and who want to be heard.
  </h3>
</div>
