---
import QuotationMark from "../../assets/quotation-mark.svg";

// If we follow a consistent layout/styling structure for the quotes, could use a structure like this (and if large enough, abstract it to Content Collections)
// const quotes = [
//   {
//     tagline: "The Skinny Platform opened doors I never could have on my own.",
//     description:
//       "Their platform gave me the tools to amplify my entrepreneurial story and connect with new audiences in a big way.",
//     name: "Alex Chen",
//     credential: "Author of The Book",
//   },
// ];
---

<div class="space-y-6 relative md:text-left text-center">
  <QuotationMark 
    id="leftQuote" 
    class="absolute -top-4 -left-4 w-16 h-16 text-gray-200 transform -scale-y-100" 
    fill="currentColor"
  />
  
  <div class="space-y-4 px-8 md:px-12">
    <p class="text-2xl md:text-3xl font-bold italic">
      The Skinny Platform opened doors I never could have on my own.
    </p>
    <p class="text-xl text-gray-600 italic">
      Their platform gave me the tools to amplify my entrepreneurial story and
      connect with new audiences in a big way.
    </p>
  </div>

  <QuotationMark 
    id="rightQuote" 
    class="absolute -bottom-8 right-0 w-16 h-16 text-gray-200" 
    fill="currentColor"
  />
  
  <div class="text-right">
    <p class="font-bold text-xl">Alex Chen</p>
    <p class="text-gray-600 italic">Author of <span class="italic">The Book</span></p>
  </div>
</div>
