---
import QuotationMark from "../../assets/quotation-mark.svg";

// If we follow a consistent layout/styling structure for the quotes, could use a structure like this (and if large enough, abstract it to Content Collections)
// const quotes = [
//   {
//     tagline: "The Skinny Platform opened doors I never could have on my own.",
//     description:
//       "Their platform gave me the tools to amplify my entrepreneurial story and connect with new audiences in a big way.",
//     name: "Alex Chen",
//     credential: "Author of The Book",
//   },
// ];
---

<div>
  <QuotationMark id="leftQuote" fill="currentColor" transform="scale(-1,-1)" />
  <p>The Skinny Platform opened doors I never could have on my own.</p>
  <p>
    Their platform gave me the tools to amplify my entrepreneurial story and
    connect with new audiences in a big way.
  </p>
  <QuotationMark id="rightQuote" fill="currentColor" />
  <div>
    <p>Alex Chen</p>
    <p>Author of The Book</p>
  </div>
</div>
