---
import QuotationMark from "../../assets/quotation-mark.svg";
---

<div class="grid grid-cols-2 gap-4 px-16 mb-[5%]">
  <p>
    Dan Heuertz has been an entrepreneur for almost 4 decades, starting
    businesses ranging from bars and restaurants to salt mines and payment
    processing.
    <span
      >After having seen and done it all, he wanted to share his experiences and
      frameworks with other entrepreneurs.</span
    >
  </p>
  <div>
    <QuotationMark
      id="leftQuote"
      fill="currentColor"
      transform="scale(-1,-1)"
      class="-left-4 top-6"
    />

    <p>
      For years, I tried writing a book until a health crisis in 2021 pushed me
      to hire a ghostwriter. But after going through that process, my voice was
      lost. My son, Ben Heuertz, had a solution, and The Skinny Platform was
      born.
    </p>
    <QuotationMark
      id="rightQuote"
      fill="currentColor"
      class="right-6"
    />
  </div>
</div>
