---
import { Image } from "astro:assets";
import BenDanTan from '../../assets/BenDanTan.png';

// <div class="grid grid-cols-2 gap-4 bg-skinny-blue mx-16 border border-skinny-cream rounded-3xl">
//     <h1 class="text-4xl font-bold text-white self-center text-center">
//         Meet the father and son duo behind 
//         <span class="block text-skinny-orange italic mt-2">The Skinny Platform <span class="not-italic">&#128075;</span></span>
//     </h1>
//     <div class="flex flex-col">
//         <Image 
//             src={BenAndDan} 
//             class="relative -top-20 xl:-top-40" 
//             alt="Ben and Dan" 
//         />
//         <div class="flex justify-evenly text-white text-2xl">
//             <p>Ben Heuertz</p>
//             <p>Dan Heuertz</p>
//         </div>
//     </div>
// </div>
---

<div class="flex flex-col items-center justify-center">
  <Image src={BenDanTan} alt="Ben and Dan" class="-translate-y-3/4 max-w-[95%] md:max-w-[90%] xl:max-w-[80%]" />
</div>

