---
import Facebook from "../../assets/facebook.svg";
import LinkedIn from "../../assets/linkedin.svg";
import YouTube from "../../assets/youtube.svg";
import { Mail } from "lucide-astro";
---

<div>
  <h1>Follow us and connect!</h1>
  <div id="icons" class="">
    <Facebook />
    <YouTube size={60} />
    <Mail />
    <LinkedIn />
  </div>

  <p>
    Copyright © 2024 The Skinny Platform™ | Powered by The Skinny Platform™
  </p>
</div>
