---
import CTAButton from "../CTAButton.astro";


---

<div class="flex flex-col justify-center items-center mx-6 max-w-3xl bg-skinny-cream border border-slate-300 rounded-xl mt-[-5%]">
    <h1>Join us on our entrepreneurial journey and receive weekly insights.</h1>
    <input type="email" placeholder="Enter your email" />
    <CTAButton label="Join Us!" action="add-email"></CTAButton>
</div>