---
import Heading from "./text/Heading.astro";
import QuoteCarousel from "./text/QuoteCarousel.astro";
import CTAButton from './CTAButton.astro';
---

<main>
  <section id="header">
    <Heading />
    <QuoteCarousel />
    <CTAButton />
  </section>

  <section id="what-and-why" class="bg-skinny-blue">Hello</section>

  <section id="ben-and-den">Ben and Dan</section>
  
  <section id="join-and-connect" class="bg-skinny-orange">Follow us and connect!</section>
</main>
