---
import { Image } from "astro:assets";
import TSPLogo from "../assets/TSPLogo.png";

const currentPath = Astro.url.pathname;

const links = [
  { label: "Home", path: "/" },
  { label: "About", path: "/about" },
  { label: "Skinny Books", path: "/skinny-books" },
];
---

<nav class={currentPath === "/about" ? "bg-skinny-gray" : ""}>
  <div class="flex flex-row justify-between items-center px-4 md:px-12 pt-3 md:pt-6">
    <a href="/">
      <Image src={TSPLogo} class="w-[20vw] md:w-[150px]" alt="The Skinny Platform" />
    </a>
    <ul class="flex gap-3 md:gap-6">
      {
        links.map(({ label, path }) => (
          <li>
            <a href={path} class={`text-xs sm:text-sm md:text-lg hover:text-skinny-orange transition-colors`}>
              {label}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</nav>
